<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.dllo.zaker">
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".playfun.SecondLevelWebViewActivity"/>
        <activity android:name=".playfun.SecondLevelViewPagerActivity"/>

        <activity android:name=".hotspot.sec.HotspotSecActivity"/>

        <activity android:name=".subscription.activity.TodayActivity"/>
        <activity android:name=".subscription.activity.NewsActivity"/>
        <activity android:name=".subscription.activity.CarActivity"/>
        <activity android:name=".subscription.activity.TechnologyActivity"/>
        <activity android:name=".subscription.activity.LuxutyActivity"/>
        <activity android:name=".subscription.activity.TripActivity"/>
        <activity android:name=".subscription.activity.MoneyActivity"/>
        <activity android:name=".subscription.activity.SportsActivity"/>
        <activity android:name=".subscription.activity.RelaxActivity"/>
        <activity android:name=".subscription.activity.FashionActivity"/>
        <activity android:name=".subscription.activity.InvestActivity"/>
        <activity android:name=".subscription.activity.MovieActivity"/>
        <activity android:name=".subscription.activity.FoodActivity"/>
        <activity android:name=".subscription.activity.BeautifulActivity"/>
        <activity android:name=".subscription.activity.OlympicActivity"/>
       <activity android:name=".subscription.activity.AddActivity"/>
    </application>

</manifest>